<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Listado de Puntos de Venta</h1>

      <div class="points">
        <% @p.each do |pventa| %>
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-codigo">Codigo: <%= pventa.codigo %></span>
            <span class="point-nombre">Nombre: <%=link_to pventa.nombre, pventa %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
