// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.points {
  margin-top: 40px;

  .point {
    padding: 15px 10px;
    border-radius: 5px;

    &:hover{ background: #f5f5f2; }

    .point-details {
      float: left;

      .point-nombre, a{
        color: #303030;
        font-size: 21px;
        line-height: 1;

        &:hover, &:focus { color: #F04500; text-decoration: none; }
      }
      .point-codigo {
        display: block;
        color: #999;
        font-size: 16px;
      }
    }
  }
}

.point-page {
  .point-header {
    background: #303030;
    color: #fafaf2;
    /*text-align: center;*/
    padding: 5px 25px 15px;
    margin-top: -5px;
    margin-bottom: 30px;

/*    h1 {
      font-size: 32px;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      color: #ddd;
      margin-top: 15px;
      margin-bottom: 40px;
    }

    .btn-primary {
      font-size: 18px;
      font-weight: bold;
    }*/

    .actions {
      margin-top: 30px;
      text-align: right;

      a {
        color: #ccc;
        font-size: 21px;
        margin-right: 5px;


      &:hover { color: white; }
        }
      }
  }

  .votes {
    margin-bottom: 40px;
    padding: 0 25px;

    h2 {
      color: #666;
      font-size: 16px;
      margin-bottom: 20px;
    }

    img { width: 40px; }
  }

  .comments {
    padding: 0 25px;

    h2 {
      color: #666;
      font-size: 16px;
      margin-bottom: 20px;
    }

    img {
      width: 25px;
      margin: -3px 10px 0 -3px;
    }
  }
}
