// Place all the styles related to the reforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//carlos mario me ve?

.fondo_reforms {
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 5px;
  transform-origin: top;
  padding: 15px 10px;
  box-sizing: border-box;
}
