// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fondo_tasks {
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 5px;
}
