<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Listado Tecnologias de Comunicacion</h1></br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>ACCION</th>
          </tr>
        </thead>
        <% @t.each do |tecno| %>
          <tr>
            <td><%= tecno.descripcion %></td>
            <td><div class="icons"><%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Modificar Tecnologia'></span>".html_safe, edit_technology_path(tecno), remote: true %>
            <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Eliminar Tecnologia'></span>".html_safe, tecno, method: :delete, data: { confirm: "¿Estás seguro de eliminar esta tecnologia?" } %></td>
          </div></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
