<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="page-header icons">
        <h1>Listado Tecnologías de Comunicación</h1>
        <%= link_to "<span class='glyphicon glyphicon-arrow-left' data-toggle='tooltip' title='ir a Inicio'></span>".html_safe, points_path %>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>ACCION</th>
          </tr>
        </thead>
        <% @t.each do |tecno| %>
          <tr>
            <td><%= tecno.descripcion %></td>
            <td><div class="icons"><%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Modificar Tecnologia'></span>".html_safe, edit_technology_path(tecno), remote: true %>
            <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Elimina esta tecnologia y los puntos de venta que lo contienen'></span>".html_safe, tecno, method: :delete, data: { confirm: "¿Estás seguro de eliminar esta tecnologia, y por consiguiente todos los puntos de venta que la contienen?, de no ser asi cambie primero la tecnologia de los puntos de venta que la contienen y luego regrese a borrarla" } %></td>
          </div></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
